{% extends 'base.html.twig' %}

{% block body %}
    <h1>Resource mesh</h1>

    <div class="container">
        <table class="table table-bordered table-dark table-striped table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ resource.id }}</td>
                </tr>
                <tr>
                    <th>Path</th>
                    <td>{{ resource.path }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ resource.name }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ resource.resType }}</td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-info btn-lg btn-block" href="{{ path('resource_index') }}">Back to the list</a>
        <a class="btn btn-success btn-lg btn-block mb-2" href="{{ path('resource_edit', { 'id': resource.id }) }}">Edit</a>
        
        {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger btn-lg btn-block" value="Delete">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
